@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao <br>
        Sistema de Cadastro de Clientes</h1>

        <img src="img/sistema.webp" class="sistimg"/>
</div>
